@font-face {
  font-family: "Vida 31 Pro";
  src: url("font/Vida 31 Pro/vida31pro.otf"); }

@font-face {
  font-family: "Vida 33 Pro";
  src: url("font/Vida 33 Pro/vida33pro.otf"); }

body {
  font-family: "Vida 31 Pro";
  font-size: 20px; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px; }

.topline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 15px; }
  .logo-img {
    display: block; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3; }
  @media screen and (max-width: 1200px) {
    .menu {
      position: absolute;
      display: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      background-color: #f0f0f0;
      width: 200px;
      height: 100vh; } }
  @media screen and (max-width: 1200px) and (max-width: 768px) {
    .menu {
      display: none; } }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 1200px) {
      .menu-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .menu-list__item {
      padding: 0 12px; }
      @media screen and (max-width: 1200px) {
        .menu-list__item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          padding: 19px 0; } }
      .menu-list__item:first-child {
        padding-left: 0; }
      .menu-list__item-link {
        color: #893b67;
        text-decoration: none;
        font-family: "Vida 31 Pro";
        font-size: 14px; }
        .menu-list__item-link:hover {
          text-decoration: underline; }

.mobmenu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  font-family: "Vida 31 Pro";
  background-color: #fff; }
  @media screen and (max-width: 768px) {
    .mobmenu {
      display: none; } }
  .mobmenu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      .mobmenu-list__item {
        padding: 10px 0; } }
    .mobmenu-list__item-link {
      text-decoration: none;
      font-family: "Vida 31 Pro";
      font-size: 24px;
      color: #893b67; }
      .mobmenu-list__item-link:hover {
        text-decoration: underline; }

.mobcompare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  color: #893b67;
  font-family: "Vida 31 Pro";
  font-size: 24px; }

.moblk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 50px; }

.mobphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 0; }
  .mobphone__link {
    text-decoration: none;
    color: #565f66;
    font-family: "Vida 33 Pro";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 10px; }
    @media screen and (max-width: 600px) {
      .mobphone__link {
        font-size: 20px; } }

.compare-wrapper {
  margin: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 120px; }
  @media screen and (max-width: 768px) {
    .compare-wrapper {
      display: none; } }

.compare {
  display: block;
  text-decoration: none;
  color: #000; }
  .compare__text {
    margin-left: 7px;
    color: #893b67;
    font-size: 14px;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .compare__text {
        font-size: 24px; } }
  .compare:hover > .compare__text {
    text-decoration: underline; }

.fa-list-ul {
  font-size: 14px;
  position: relative;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .fa-list-ul {
      font-size: 20px; } }
  .fa-list-ul::after {
    content: '3';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    position: absolute;
    font-weight: 400;
    width: 16px;
    height: 16px;
    background-color: #893b67;
    border-radius: 50%;
    top: -10px;
    right: -8px;
    cursor: pointer; }
  .fa-list-ul:hover {
    color: #444; }

.lk-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: 0 5px; }
  @media screen and (max-width: 768px) {
    .lk-wrapper {
      display: none; } }

.lk {
  background-color: #fff;
  border: 1px solid rgba(83, 86, 90, 0.2);
  border-radius: 14px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  color: #53565a;
  margin: 0 15px; }
  @media screen and (max-width: 768px) {
    .lk {
      color: #893b67;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 24px;
      font-family: "Vida 31 Pro"; }
      .lk:hover {
        text-decoration: underline; } }
  .lk::after {
    font-family: "FontAwesome";
    content: '\f0d7';
    font-size: 14px;
    margin-left: 13px;
    color: #808080; }
    @media screen and (max-width: 768px) {
      .lk::after {
        display: none; } }

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-grow: 0;
  margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .header__phone {
      display: none; } }
  .header__phone-link {
    text-decoration: none;
    color: #565f66;
    font-size: 18px;
    font-family: "Vida 33 Pro"; }

.phone-btn {
  margin-left: 20px;
  width: 36px;
  height: 36px;
  background: #893b67;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  position: relative;
  cursor: pointer; }
  .phone-btn__link {
    display: block;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    z-index: 1; }
  .phone-btn::before, .phone-btn::after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #893b67;
    border-radius: 50%; }
  .phone-btn::before {
    height: 48px;
    width: 48px;
    opacity: 0.7; }
  .phone-btn::after {
    height: 58px;
    width: 58px;
    opacity: 0.2; }

.menu-btn {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1200px) {
    .menu-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

.fa-bars {
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #893b67;
  cursor: pointer; }

.fa-times {
  display: none;
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #893b67;
  cursor: pointer; }

.header-body {
  height: 232px;
  width: 100%;
  background: url(/image/bg.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .header-body h1, .header-body h2 {
    margin-left: 60px;
    text-align: center;
    background-color: #ffffff;
    font-family: "Vida 33 Pro"; }
    @media screen and (max-width: 768px) {
      .header-body h1, .header-body h2 {
        margin: 0; } }
  .header-body h1 {
    line-height: 62px;
    font-size: 48px;
    color: #414141;
    width: 340px;
    height: 62px; }
    @media screen and (max-width: 768px) {
      .header-body h1 {
        font-size: 32px;
        width: 100%; } }
  .header-body h2 {
    font-family: "Vida 33 Pro";
    color: #777b80;
    font-size: 18px;
    line-height: 39px;
    width: 130px;
    height: 39px; }
    @media screen and (max-width: 768px) {
      .header-body h2 {
        font-size: 16px; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 135px; }
  @media screen and (max-width: 768px) {
    .content {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0; } }

.sidebar {
  width: 30%; }
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%; } }

.main-content {
  width: 70%; }
  @media screen and (max-width: 768px) {
    .main-content {
      width: 100%; } }

.ui-accordion {
  height: 0px; }

.ui-accordion-header {
  background-color: #fcfcfc;
  border: 1px solid #edeeee;
  border-bottom: none;
  color: #000;
  font-family: "Vida 33 Pro";
  font-size: 18px;
  font-weight: 700; }

.ui-accordion-header-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background: url("/image/circle-down.svg"); }

.ui-accordion-content {
  background-color: #fcfcfc; }

.ui-state-active .ui-icon {
  background: url("/image/circle-up.svg"), #893b67;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
  background-size: contain; }

.icon-arrow-down {
  width: 20px;
  height: 20px;
  background: url("/image/circle-down.svg") no-repeat;
  background-size: contain; }

.icon-arrow-up {
  width: 20px;
  height: 20px;
  background: url("/image/circle-up.svg") no-repeat;
  background-size: contain; }
