@font-face {
  font-family: "Vida 31 Pro";
  src: url("font/Vida 31 Pro/vida31pro.otf"); }

@font-face {
  font-family: "Vida 33 Pro";
  src: url("font/Vida 33 Pro/vida33pro.otf"); }

body {
  font-family: "Vida 31 Pro";
  font-size: 20px;
  position: relative;
  right: 0; }

.slidebody {
  right: 200px; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px; }

.topline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .logo-img {
    display: block; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3; }
  @media screen and (max-width: 1200px) {
    .menu {
      position: absolute;
      display: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      background-color: #f0f0f0;
      width: 200px;
      height: 100vh; } }
  @media screen and (max-width: 1200px) and (max-width: 768px) {
    .menu {
      display: none; } }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 1200px) {
      .menu-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .menu-list__item {
      padding: 0 12px; }
      @media screen and (max-width: 1200px) {
        .menu-list__item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          padding: 19px 0; } }
      .menu-list__item:first-child {
        padding-left: 0; }
      .menu-list__item-link {
        color: #893b67;
        text-decoration: none;
        font-size: 14px; }
        @media screen and (max-width: 768px) {
          .menu-list__item-link {
            font-size: 24px; } }
        .menu-list__item-link:hover {
          text-decoration: underline; }

.mobmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background-color: #fff; }
  @media screen and (max-width: 768px) {
    .mobmenu {
      display: none; } }
  .mobmenu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      .mobmenu-list__item {
        padding: 10px 0; } }
    .mobmenu-list__item-link {
      text-decoration: none;
      font-family: "Vida 31 Pro";
      font-size: 24px; }
      .mobmenu-list__item-link:hover {
        text-decoration: underline; }

.mobcompare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  color: #893b67;
  font-family: "Vida 31 Pro";
  font-size: 24px; }

.moblk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 50px; }

.mobphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 0; }
  .mobphone__link {
    text-decoration: none;
    color: #565f66;
    font-family: "Vida 33 Pro";
    font-size: 100%;
    font-weight: 400;
    line-height: 24px;
    margin-right: 10px; }

.compare-wrapper {
  margin: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 160px; }
  @media screen and (max-width: 768px) {
    .compare-wrapper {
      display: none; } }

.compare {
  display: block;
  text-decoration: none;
  color: #000; }
  .compare__text {
    margin-left: 7px;
    color: #893b67;
    font-size: 14px;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .compare__text {
        font-size: 24px; } }
  .compare:hover > .compare__text {
    text-decoration: underline; }

.fa-list-ul {
  font-size: 14px;
  position: relative;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .fa-list-ul {
      font-size: 20px; } }
  .fa-list-ul::after {
    content: '3';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    position: absolute;
    font-weight: 400;
    width: 16px;
    height: 16px;
    background-color: #893b67;
    border-radius: 50%;
    top: -10px;
    right: -8px;
    cursor: pointer; }
  .fa-list-ul:hover {
    color: #444; }

.lk-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: 0 5px; }
  @media screen and (max-width: 768px) {
    .lk-wrapper {
      display: none; } }

.lk {
  background-color: #fff;
  border: 1px solid rgba(83, 86, 90, 0.2);
  border-radius: 14px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  color: #53565a;
  margin: 0 15px; }
  @media screen and (max-width: 768px) {
    .lk {
      color: #893b67;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 24px;
      font-family: "Vida 31 Pro"; }
      .lk:hover {
        text-decoration: underline; } }
  .lk::after {
    font-family: "FontAwesome";
    content: '\f0d7';
    font-size: 14px;
    margin-left: 13px;
    color: #808080; }
    @media screen and (max-width: 768px) {
      .lk::after {
        display: none; } }

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-grow: 0;
  margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .header__phone {
      display: none; } }
  .header__phone-link {
    text-decoration: none;
    color: #565f66;
    font-size: 18px;
    font-family: "Vida 33 Pro"; }

.phone-btn {
  margin-left: 20px;
  width: 36px;
  height: 36px;
  background: #893b67;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  position: relative;
  cursor: pointer; }
  .phone-btn__link {
    display: block;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    z-index: 1; }
  .phone-btn::before, .phone-btn::after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #893b67;
    border-radius: 50%; }
  .phone-btn::before {
    height: 48px;
    width: 48px;
    opacity: 0.7; }
  .phone-btn::after {
    height: 58px;
    width: 58px;
    opacity: 0.2; }

.menu-btn {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1200px) {
    .menu-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

.fa-bars {
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #893b67;
  cursor: pointer; }

.fa-times {
  display: none;
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #893b67;
  cursor: pointer; }
