@charset "UTF-8";
@font-face {
  font-family: "Vida 31 Pro";
  src: url("../font/Vida 31 Pro/vida31pro.otf"); }

@font-face {
  font-family: "Vida 33 Pro";
  src: url("../font/Vida 33 Pro/vida33pro.otf"); }

body {
  font-family: "Vida 31 Pro";
  font-size: 20px; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px; }

.topline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 15px; }
  .logo-img {
    display: block; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3; }
  @media screen and (max-width: 1200px) {
    .menu {
      position: absolute;
      display: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      background-color: #f0f0f0;
      width: 200px;
      height: 100vh; } }
  @media screen and (max-width: 1200px) and (max-width: 768px) {
    .menu {
      display: none; } }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 1200px) {
      .menu-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .menu-list__item {
      padding: 0 12px; }
      @media screen and (max-width: 1200px) {
        .menu-list__item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          padding: 19px 0; } }
      .menu-list__item:first-child {
        padding-left: 0; }
      .menu-list__item-link {
        color: #893b67;
        text-decoration: none;
        font-family: "Vida 31 Pro";
        font-size: 14px; }
        .menu-list__item-link:hover {
          text-decoration: underline; }

.mobmenu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  font-family: "Vida 31 Pro";
  background-color: #fff; }
  @media screen and (max-width: 768px) {
    .mobmenu {
      display: none; } }
  .mobmenu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      .mobmenu-list__item {
        padding: 10px 0; } }
    .mobmenu-list__item-link {
      text-decoration: none;
      font-family: "Vida 31 Pro";
      font-size: 24px;
      color: #893b67; }
      .mobmenu-list__item-link:hover {
        text-decoration: underline; }

.mobcompare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  color: #893b67;
  font-family: "Vida 31 Pro";
  font-size: 24px; }

.moblk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 50px; }

.mobphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 0; }
  .mobphone__link {
    text-decoration: none;
    color: #565f66;
    font-family: "Vida 33 Pro";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 10px; }
    @media screen and (max-width: 600px) {
      .mobphone__link {
        font-size: 20px; } }

.compare-wrapper {
  margin: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 120px; }
  @media screen and (max-width: 768px) {
    .compare-wrapper {
      display: none; } }

.compare {
  display: block;
  text-decoration: none;
  color: #000; }
  .compare__text {
    margin-left: 7px;
    color: #893b67;
    font-size: 14px;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .compare__text {
        font-size: 24px; } }
  .compare:hover > .compare__text {
    text-decoration: underline; }

.fa-list-ul {
  font-size: 14px;
  position: relative;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .fa-list-ul {
      font-size: 20px; } }
  .fa-list-ul::after {
    content: '3';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    position: absolute;
    font-weight: 400;
    width: 16px;
    height: 16px;
    background-color: #893b67;
    border-radius: 50%;
    top: -10px;
    right: -8px;
    cursor: pointer; }
  .fa-list-ul:hover {
    color: #444; }

.lk-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: 0 5px; }
  @media screen and (max-width: 768px) {
    .lk-wrapper {
      display: none; } }

.lk {
  background-color: #fff;
  border: 1px solid rgba(83, 86, 90, 0.2);
  border-radius: 14px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  color: #53565a;
  margin: 0 15px; }
  @media screen and (max-width: 768px) {
    .lk {
      color: #893b67;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 24px;
      font-family: "Vida 31 Pro"; }
      .lk:hover {
        text-decoration: underline; } }
  .lk::after {
    font-family: "FontAwesome";
    content: '\f0d7';
    font-size: 14px;
    margin-left: 13px;
    color: #808080; }
    @media screen and (max-width: 768px) {
      .lk::after {
        display: none; } }

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-grow: 0;
  margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .header__phone {
      display: none; } }
  .header__phone-link {
    text-decoration: none;
    color: #565f66;
    font-size: 18px;
    font-family: "Vida 33 Pro"; }

.phone-btn {
  margin-left: 20px;
  width: 36px;
  height: 36px;
  background: #893b67;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  position: relative;
  cursor: pointer; }
  .phone-btn__link {
    display: block;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    z-index: 1; }
  .phone-btn::before, .phone-btn::after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #893b67;
    border-radius: 50%; }
  .phone-btn::before {
    height: 48px;
    width: 48px;
    opacity: 0.7; }
  .phone-btn::after {
    height: 58px;
    width: 58px;
    opacity: 0.2; }

.menu-btn {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1200px) {
    .menu-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

.fa-bars {
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #893b67;
  cursor: pointer; }

.fa-times {
  display: none;
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #893b67;
  cursor: pointer; }

.header-body {
  height: 232px;
  width: 100%;
  background: url(../image/bg.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 768px) {
    .header-body {
      padding: 0 15px; } }
  .header-body h1, .header-body h2 {
    margin-left: 60px;
    text-align: center;
    background-color: #ffffff;
    font-family: "Vida 33 Pro"; }
    @media screen and (max-width: 768px) {
      .header-body h1, .header-body h2 {
        margin: 0; } }
  .header-body h1 {
    line-height: 62px;
    font-size: 48px;
    color: #414141;
    width: 340px;
    height: 62px; }
    @media screen and (max-width: 768px) {
      .header-body h1 {
        font-size: 32px;
        width: 240px; } }
    @media screen and (max-width: 500px) {
      .header-body h1 {
        font-size: 24px;
        width: 180px; } }
  .header-body h2 {
    font-family: "Vida 33 Pro";
    color: #777b80;
    font-size: 18px;
    line-height: 39px;
    width: 130px;
    height: 39px; }
    @media screen and (max-width: 768px) {
      .header-body h2 {
        font-size: 18px;
        width: 140px; } }
    @media screen and (max-width: 500px) {
      .header-body h2 {
        font-size: 14px;
        width: 110px; } }

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px; }
  @media screen and (max-width: 1200px) {
    .body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media screen and (max-width: 840px) {
    .body {
      padding: 0 30px; } }
  @media screen and (max-width: 768px) {
    .body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 15px; } }

.sidebar {
  width: 30%;
  border-right: 1px solid rgba(145, 145, 145, 0.1);
  margin-right: 40px;
  margin-top: 64px; }
  @media screen and (max-width: 1200px) {
    .sidebar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      margin-right: 0;
      margin-top: 54px;
      border-right: none; } }
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%; } }
  @media screen and (max-width: 1200px) {
    .sidebar-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .sidebar-menu-list {
    margin-top: -20px; }
    @media screen and (max-width: 1200px) {
      .sidebar-menu-list {
        display: none;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .sidebar-menu-list__item {
      margin: 20px 0;
      padding-left: 20px;
      border: 1px solid transparent;
      width: 280px;
      height: 41px;
      line-height: 39px;
      border-radius: 20px;
      position: relative;
      cursor: pointer; }
      .sidebar-menu-list__item:hover, .sidebar-menu-list__item:focus, .sidebar-menu-list__item:active {
        border: 1px solid rgba(83, 86, 90, 0.2); }
      .sidebar-menu-list__item-link {
        display: block;
        color: #893b67;
        font-family: "Vida 31 Pro";
        font-size: 16px; }
        .sidebar-menu-list__item-link:hover {
          color: #53565a; }

.item--active {
  border: 1px solid rgba(83, 86, 90, 0.2); }
  .item--active a {
    color: #53565a; }
  .item--active::after {
    content: '6';
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    right: -5px;
    top: -7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #893b67; }

.select-menu-wrapper {
  display: block;
  width: 100%;
  height: 40px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .select-menu-wrapper {
      display: none; } }
  .select-menu-wrapper::after {
    content: '6';
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    left: 110px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #893b67; }

.select-menu {
  font-family: "Vida 31 Pro";
  width: 100%;
  height: 40px;
  padding: 0 18px;
  border-radius: 20px;
  border: 1px solid rgba(83, 86, 90, 0.2);
  color: #53565a;
  font-size: 16px; }

.adresses {
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .adresses {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin-top: 20px; } }
  @media screen and (max-width: 366px) {
    .adresses {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.adress {
  width: 290px;
  height: 131px;
  border-top: 1px solid rgba(145, 145, 145, 0.13);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1200px) {
    .adress {
      height: 80px;
      margin-right: 30px;
      border-top: none;
      width: 90%;
      position: relative; } }
  @media screen and (max-width: 768px) {
    .adress {
      margin-right: 0px;
      width: 100%; } }
  @media screen and (max-width: 366px) {
    .adress {
      width: 90%;
      margin-right: 0px; } }
  @media screen and (max-width: 1200px) {
    .adress::after {
      content: '';
      position: absolute;
      right: -30px;
      height: 80px;
      border-right: 1px solid rgba(145, 145, 145, 0.13); } }
  @media screen and (max-width: 1200px) {
    .adress:last-child {
      border: none;
      margin-left: 30px;
      margin-right: 0; }
      .adress:last-child::after {
        display: none; } }
  @media screen and (max-width: 366px) {
    .adress:last-child {
      margin-left: 0px; } }
  .adress__title {
    color: #893b67;
    font-family: "Vida 33 Pro";
    font-size: 24px;
    height: 34px; }
  .adress-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px; }
    @media screen and (max-width: 400px) {
      .adress-items {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media screen and (max-width: 366px) {
      .adress-items {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
    .adress-items__text {
      color: #000000;
      font-family: "Vida 31 Pro";
      font-size: 16px; }
    .adress-items-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .adress-items-button__text {
        color: #893b67;
        font-family: "Vida 33 Pro";
        font-size: 14px;
        margin-right: 10px;
        cursor: pointer; }
      .adress-items-button__icon {
        width: 20px;
        height: 20px;
        background: url("../image/arrow-right.png");
        cursor: pointer; }

.main-content {
  width: 70%;
  padding-top: 56px; }
  @media screen and (max-width: 1200px) {
    .main-content {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .main-content {
      width: 100%; } }
  .main-content__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-content__title-text {
      padding-bottom: 41px;
      color: #414141;
      font-family: "Vida 33 Pro";
      font-size: 36px;
      font-weight: 400; }

.title {
  position: relative; }

.accordion-title__text {
  max-width: 95%; }

.date-badge {
  border-radius: 2px;
  background-color: #edeeee;
  width: 77px;
  height: 24px;
  color: #000000;
  font-family: "Vida 31 Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 24px 0; }

.icon {
  position: absolute;
  top: calc(50% - 10px);
  right: 24px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border-radius: 50%; }

.icon-arrow-down {
  width: 20px;
  height: 20px;
  background: url("../image/icon-arrow.png") no-repeat;
  background-size: contain; }

.icon-change {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-image: url("../image/icon-arrow-pink.png") no-repeat; }

.ui.styled.accordion .title {
  opacity: 0.8;
  color: #000000;
  font-family: "Vida 33 Pro";
  font-size: 18px;
  font-weight: 400; }

.ui.accordion .content {
  color: #5a5a58;
  font-family: "Vida 31 Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.ui.accordion .content.active {
  background-color: #fcfcfc; }

.ui.styled.accordion .active.title {
  background-color: #fcfcfc; }

.ui.styled.accordion .title {
  border: none; }

.ui.styled.accordion, .ui.styled.accordion .accordion {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.accordion-wrapper {
  margin-bottom: 24px;
  border: 1px solid #edeeee; }

.accordion1-mb {
  margin-bottom: 50px; }

.news-feed-wrapper {
  background-color: #eeeeee;
  width: 100%;
  padding: 31px 150px; }
  @media screen and (max-width: 1050px) {
    .news-feed-wrapper {
      padding: 31px 100px; } }
  @media screen and (max-width: 840px) {
    .news-feed-wrapper {
      padding: 31px 30px; } }
  @media screen and (max-width: 768px) {
    .news-feed-wrapper {
      padding: 31px 15px; } }

.news-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto; }

.news {
  margin-right: 10px; }
  @media screen and (max-width: 768px) {
    .news {
      margin: 0; } }
  .news-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .news-title__date {
      color: rgba(0, 0, 0, 0.4);
      font-family: "Vida 31 Pro";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; }
    .news-title__badge {
      margin-left: 5px;
      color: #000000;
      font-family: "Vida 31 Pro";
      font-size: 10px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
      background-color: #fff;
      padding: 0 5px; }
  .news__text {
    margin-top: 5px;
    color: #000000;
    font-family: "Vida 31 Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
    @media screen and (max-width: 768px) {
      .news__text {
        color: #000000;
        font-family: "Vida 31 Pro";
        font-size: 22px;
        line-height: 28.08px; } }

.main-badge {
  color: #000000;
  font-family: "Vida 33 Pro";
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #c5e71b;
  position: relative;
  padding: 0 13px; }
  .main-badge::before {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-left: 4px solid #eeeeee;
    left: 0; }
  .main-badge::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-right: 4px solid #eeeeee;
    right: 0; }

.contacts {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 10px; }
  @media screen and (max-width: 1050px) {
    .contacts {
      width: 44%; } }
  @media screen and (max-width: 640px) {
    .contacts {
      margin-bottom: 10px;
      width: 100%; } }

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-icons__link {
    color: #893b67;
    font-family: "Font Awesome";
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
    cursor: pointer; }

.footer-phone {
  margin-top: 41px; }
  @media screen and (max-width: 768px) {
    .footer-phone {
      margin: 10px 0; } }
  .footer-phone__link {
    color: #424242;
    font-family: "Vida 33 Pro";
    font-size: 24px; }
    @media screen and (max-width: 900px) {
      .footer-phone__link {
        font-size: 20px; } }
    @media screen and (max-width: 768px) {
      .footer-phone__link {
        font-size: 24px; } }

.location {
  margin-top: 5px;
  color: #424242;
  font-family: "Vida 31 Pro";
  font-size: 14px; }
  @media screen and (max-width: 640px) {
    .location {
      margin-bottom: 10px; } }

.mail a {
  color: #893b67;
  font-family: "Vida 31 Pro";
  font-size: 14px;
  line-height: 18px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 44px 100px; }
  @media screen and (max-width: 840px) {
    .footer {
      padding: 44px 30px; } }
  @media screen and (max-width: 768px) {
    .footer {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 44px 15px; } }
  @media screen and (max-width: 640px) {
    .footer {
      width: 100%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 70%; }
    @media screen and (max-width: 1050px) {
      .footer-menu {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media screen and (max-width: 640px) {
      .footer-menu {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .footer-menu-wrapper {
      width: 200px; }
      @media screen and (max-width: 1050px) {
        .footer-menu-wrapper {
          width: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 47px; } }
      @media screen and (max-width: 640px) {
        .footer-menu-wrapper {
          width: 100%;
          margin-bottom: 0; } }
    .footer-menu__title {
      color: #000000;
      font-family: "Vida 33 Pro";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
      @media screen and (max-width: 640px) {
        .footer-menu__title {
          width: 100%;
          border-bottom: 1px solid rgba(145, 145, 145, 0.1); } }
      @media screen and (max-width: 640px) {
        .footer-menu__title::after {
          content: '\f106';
          position: absolute;
          font-family: 'FontAwesome';
          font-size: 25px;
          color: #000000;
          right: 0;
          -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; } }
    .footer-menu-list {
      font-family: "Vida 31 Pro";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
      @media screen and (max-width: 640px) {
        .footer-menu-list {
          width: 100%; } }
      .footer-menu-list__item {
        width: 100%; }
        .footer-menu-list__item-link {
          color: #893b67; }

.last-list {
  margin-top: 24px; }
  @media screen and (max-width: 640px) {
    .last-list {
      display: none; } }

.footer-menu.ui.styled.accordion .title {
  padding: 0; }
  @media screen and (max-width: 640px) {
    .footer-menu.ui.styled.accordion .title {
      padding: 7px 0;
      width: 100%;
      border-bottom: 1px solid rgba(145, 145, 145, 0.1); } }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("../font/slick.eot");
  src: url("../font/slick.eot?#iefix") format("embedded-opentype"), url("./font/slick.woff") format("woff"), url("../font/slick.ttf") format("truetype"), url("../font/slick.svg#slick") format("svg"); }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 20px; }

.slick-dots {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      font-size: 20px;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
      .slick-dots li button:hover:before, .slick-dots li button:focus:before {
        opacity: 1;
        background: transparent; }
      .slick-dots li button:before {
        font-family: 'slick';
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      opacity: .75;
      color: black; }
