@font-face
    font-family: "Vida 31 Pro"
    src: url('../font/Vida 31 Pro/vida31pro.otf')
@font-face
    font-family: "Vida 33 Pro"
    src: url('../font/Vida 33 Pro/vida33pro.otf')
    
body
    font-family: "Vida 31 Pro"
    font-size: 20px

.wrapper
    max-width: 1440px
    margin: 0 auto
    padding: 0 30px

// header styles

.header

.topline
    display: flex
    height: 90px
    align-items: center
.logo
    display: flex
    flex-grow: 1
    margin-right: 15px
    &-img
        display: block

// меню

.menu
    display: flex
    flex-grow: 3
    
    @media screen and (max-width: 1200px)
        position: absolute
        display: none
        align-items: center
        justify-content: center
        flex-grow: 1
        background-color: #f0f0f0
        width: 200px
        height: 100vh
        @media screen and (max-width: 768px)
            display: none

    &-list
        display: flex
        @media screen and (max-width: 1200px)
            flex-direction: column
            align-items: center
            justify-content: center
        &__item
            padding: 0 12px
            @media screen and (max-width: 1200px)
                display: flex
                justify-content: center
                width: 100%
                padding: 19px 0
            &:first-child
                padding-left: 0
            &-link
                color: #893b67
                text-decoration: none
                font-family: "Vida 31 Pro"
                font-size: 14px
                &:hover
                    text-decoration: underline
// конец меню

// мобильное меню
.mobmenu
    display: none
    flex-direction: column
    justify-content: center
    width: 100%
    font-family: "Vida 31 Pro"
    background-color: #fff
    @media screen and (max-width: 768px)
        display: none
    &-list
        display: flex
        flex-direction: column
        justify-content: center
        margin-bottom: 10px
        &__item
            @media screen and (max-width: 768px)
                padding: 10px 0
            &-link
                text-decoration: none
                font-family: "Vida 31 Pro"
                font-size: 24px
                color: #893b67
                &:hover
                    text-decoration: underline
.mobcompare
    display: flex
    align-items: center
    width: 100%
    padding: 20px 0
    color: #893b67
    font-family: "Vida 31 Pro"
    font-size: 24px
.moblk
    display: flex
    align-items: center
    padding-bottom: 50px
.mobphone
    display: flex
    align-items: center
    width: 100%
    padding: 20px 0
    &__link
        text-decoration: none
        color: #565f66
        font-family: "Vida 33 Pro"
        font-size: 30px
        font-weight: 400
        line-height: 24px
        margin-right: 10px
        @media screen and (max-width: 600px)
            font-size: 20px
// конец мобильного меню

// кнопка сравнение
.compare-wrapper
    margin: 0px 5px
    display: flex
    justify-content: center
    width: 120px
    @media screen and (max-width: 768px)
        display: none
.compare
    display: block
    text-decoration: none
    color: #000
    &__text
        margin-left: 7px
        color: #893b67
        font-size: 14px
        cursor: pointer
        @media screen and (max-width: 768px)
            font-size: 24px
    &:hover > &__text
        text-decoration: underline
// иконка сравнение
.fa-list-ul
    font-size: 14px
    position: relative
    cursor: pointer
    @media screen and (max-width: 768px)
        font-size: 20px
    &::after
        content: '3'
        display: flex
        justify-content: center
        align-items: center
        color: #fff
        position: absolute
        font-weight: 400
        width: 16px
        height: 16px
        background-color: #893b67
        border-radius: 50%
        top: -10px
        right: -8px
        cursor: pointer
    &:hover
        color: #444
// конец кнопки сравнение

// личный кабинет
.lk-wrapper
    display: flex
    justify-content: center
    flex-grow: 0
    margin: 0 5px
    @media screen and (max-width: 768px)
        display: none
.lk
    background-color: #fff
    border: 1px solid rgba(83, 86, 90, 0.2)
    border-radius: 14px
    padding: 5px 10px 5px 10px
    font-size: 14px
    color: #53565a
    margin: 0 15px
    @media screen and (max-width: 768px)
        color: #893b67
        border: none
        padding: 0
        margin: 0
        font-size: 24px
        font-family: "Vida 31 Pro"
        &:hover
            text-decoration: underline
    &::after
        font-family: "FontAwesome"
        content: '\f0d7'
        font-size: 14px
        margin-left: 13px
        color: #808080
        @media screen and (max-width: 768px)
            display: none
// конец личный кабинет

// телефон
.header__phone
    display: flex
    flex-grow: 0
    justify-content: space-around
    align-items: center
    flex-grow: 0
    margin-right: 20px
    @media screen and (max-width: 600px)
        display: none
    &-link
        text-decoration: none
        color: #565f66
        font-size: 18px
        font-family: "Vida 33 Pro"

// кнопка телефон
.phone-btn
    margin-left: 20px
    width: 36px
    height: 36px
    background: #893b67
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    color: #fff
    position: relative
    cursor: pointer
    &__link
        display: block
        position: absolute
        text-decoration: none
        color: #ffffff
        cursor: pointer
        z-index: 1
    &::before, &::after
        content: ''
        display: block
        position: absolute
        border: 1px solid #893b67
        border-radius: 50%
    &::before
        height: 48px
        width: 48px
        opacity: 0.7
    &::after
        height: 58px
        width: 58px
        opacity: 0.2
// конец телефон

// кнопка меню
.menu-btn
    display: none
    flex-grow: 0
    justify-content: center
    @media screen  and(max-width: 1200px)
        display: flex
        justify-content: flex-end
.fa-bars
    height: 30px
    width: 30px
    font-size: 30px
    color:  #893b67
    cursor: pointer
.fa-times
    display: none
    height: 30px
    width: 30px
    font-size: 30px
    color:  #893b67
    cursor: pointer
// конец кнопка меню

// header
.header-body
    height: 232px
    width: 100%
    background: url(../image/bg.jpg) center no-repeat
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: flex-end
    h1, h2
        margin-left: 60px
        text-align: center
        background-color: #ffffff
        font-family: "Vida 33 Pro"
        @media screen and(max-width: 768px)
            margin: 0
    h1
        line-height: 62px
        font-size: 48px
        color: #414141 
        width: 340px
        height: 62px
        @media screen and(max-width: 768px)
            font-size: 32px
            width: 240px
        @media screen and(max-width: 500px)
            font-size: 24px
            width: 180px            

    h2
        font-family: "Vida 33 Pro"
        color: #777b80
        font-size: 18px
        line-height: 39px
        width: 130px
        height: 39px
        @media screen and(max-width: 768px)
            font-size: 16px
            width: 100px
        @media screen and(max-width: 500px)
            font-size: 14px
            width: 90px
// header end

.body
    display: flex
    max-width: 1440px
    margin: 0 auto
    padding: 0 100px
    @media screen and (max-width: 1200px)
        flex-wrap: wrap
    @media screen and (max-width: 768px)
        flex-wrap: wrap
        padding: 0 15px
.sidebar
    width: 30%
    border-right: 1px solid rgba(145, 145, 145, 0.1)
    margin-right: 40px
    margin-top: 64px
    @media screen and (max-width: 1200px)
        display: flex
        flex-wrap: wrap
        width: 100%
        margin-right: 0
        margin-top: 54px
        border-right: none
    @media screen and (max-width: 768px)
        width: 100%
    &-menu
        @media screen and (max-width: 1200px)
            display: flex
        &-list
            margin-top: -20px
            @media screen and (max-width: 1200px)
                display: none
                flex-wrap: wrap
            &__item
                margin: 20px 0
                padding-left: 20px
                border: 1px solid transparent
                width: 280px
                height: 41px
                line-height: 39px
                border-radius: 20px
                position: relative
                cursor: pointer
                &:hover, &:focus, &:active
                    border: 1px solid rgba(83, 86, 90, .2)
                &-link
                    display: block
                    color: #893b67
                    font-family: "Vida 31 Pro"
                    font-size: 16px
                    &:hover
                        color: #53565a
.item--active
    border: 1px solid rgba(83, 86, 90, .2)
    a
        color: #53565a
    &::after 
        content: '6'
        color: #ffffff
        line-height: 20px
        text-align: center
        font-size: 13px
        position: absolute
        right: -5px
        top: -7px
        width: 20px
        height: 20px
        border-radius: 50%
        background-color: #893b67
// селект меню
.select-menu-wrapper
    display: block
    width: 100%
    height: 40px
    position: relative
    @media screen and(min-width: 1200px)
        display: none
    &::after
        content: '6'
        color: #ffffff
        line-height: 20px
        text-align: center
        font-size: 13px
        position: absolute
        left: 110px
        top: 0px
        width: 20px
        height: 20px
        border-radius: 50%
        background-color: #893b67
.select-menu
    font-family: "Vida 31 Pro"
    width: 100%
    height: 40px
    padding: 0 18px
    border-radius: 20px
    border: 1px solid rgba(83, 86, 90, .2)
    color: #53565a
    font-size: 16px


// конец меню
.adresses
    @media screen and (max-width: 1200px)
        display: flex
        width: 100%
        margin-top: 20px
    @media screen and (max-width: 366px)
        flex-wrap: wrap
.adress
    width: 290px
    height: 131px
    border-top: 1px solid rgba(145, 145, 145, 0.13)
    display: flex
    flex-direction: column
    justify-content: center
    @media screen and (max-width: 1200px)
        height: 80px
        margin-right: 40px
        border-top: none
        width: 50%
        position: relative
    @media screen and (max-width: 366px)
        width: 100%
        margin-right: 0px
        &::after
            content: ''
            position: absolute
            right: -40px
            height: 80px
            border-right: 1px solid rgba(145, 145, 145, 0.13)
    &:last-child 
        @media screen and (max-width: 1200px)
            border: none
            margin-left: 40px
            margin-right: 0
        @media screen and (max-width: 366px)
            margin-left: 0px
    &__title
        color: #893b67
        font-family: "Vida 33 Pro"
        font-size: 24px
        height: 34px
    &-items
        display: flex
        justify-content: space-between
        align-items: center
        height: 30px
        @media screen and(max-width: 400px)
            flex-wrap: wrap
        @media screen and (max-width: 366px)
            flex-wrap: nowrap
        &__text
            color: #000000
            font-family: "Vida 31 Pro"
            font-size: 16px
        &-button
            display: flex
            align-items: center
            &__text
                color: #893b67
                font-family: "Vida 33 Pro"
                font-size: 14px
                margin-right: 10px
                cursor: pointer
            &__icon
                width: 20px
                height: 20px
                background: url('../image/arrow-right.png')
                cursor: pointer

.main-content
    width: 70%
    padding-top: 56px
    @media screen and(max-width: 1200px)
        width: 100%
    @media screen and (max-width: 768px)
        width: 100%
    &__title
        display: flex
        justify-content: flex-start
        align-items: center
        &-text
            padding-bottom: 41px
            color: #414141
            font-family: "Vida 33 Pro"
            font-size: 36px
            font-weight: 400

// аккордион
.title
    position: relative
.accordion-title__text
    max-width: 95%
.date-badge
    border-radius: 2px
    background-color: #edeeee
    width: 77px
    height: 24px
    color: #000000
    font-family: "Vida 31 Pro"
    font-size: 16px
    font-weight: 400
    line-height: 24px
    text-align: center
    margin: 24px 0
.icon
    position: absolute
    top: calc(50% - 10px)
    right: 24px
    transition: .5s
    border-radius: 50%
.icon-arrow-down
    width: 20px
    height: 20px
    background: url('../image/icon-arrow.png') no-repeat
    background-size: contain
.icon-change
    transform: rotate(180deg)
    background-image: url('../image/icon-arrow-pink.png') no-repeat
.ui.styled.accordion .title
    opacity: 0.8
    color: #000000
    font-family: "Vida 33 Pro"
    font-size: 18px
    font-weight: 400
.ui.accordion .content
    color: #5a5a58
    font-family: "Vida 31 Pro"
    font-size: 16px
    font-weight: 400
    line-height: 24px
.ui.accordion .content.active
    background-color: #fcfcfc
.ui.styled.accordion .active.title
    background-color: #fcfcfc
.ui.styled.accordion .content
.ui.styled.accordion .title
    border: none
.ui.styled.accordion, .ui.styled.accordion .accordion
    border: none
    box-shadow: none
.accordion-wrapper
    margin-bottom: 24px
    border: 1px solid #edeeee
.accordion1-mb
    margin-bottom: 50px
// конец аккордион
// блок новостей
.news-feed-wrapper
    background-color: #eeeeee
    width: 100%
    padding: 31px 150px
    @media screen and (max-width: 1050px)
        padding: 31px 100px
    @media screen and (max-width: 768px)
        padding: 31px 15px
.news-feed
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1440px
    margin: 0 auto 
.news
    margin-right: 10px
    @media screen and (max-width: 768px)
        margin: 0
    &-title
        display: flex
        align-items: center
        &__date
            color: rgba(0,0,0,0.4)
            font-family: "Vida 31 Pro"
            font-size: 14px
            font-weight: 400
            line-height: 20px
        &__badge
            margin-left: 5px
            color: #000000
            font-family: "Vida 31 Pro"
            font-size: 10px
            font-weight: 400
            line-height: 20px
            text-transform: uppercase
            background-color: #fff
            padding: 0 5px
    &__text
        margin-top: 5px
        color: #000000
        font-family: "Vida 31 Pro"
        font-size: 14px
        font-weight: 400
        line-height: 18px
        @media screen and (max-width: 768px)
            color: #000000
            font-family: "Vida 31 Pro"
            font-size: 22px
            line-height: 28.08px
.main-badge
    color: #000000
    font-family: "Vida 33 Pro"
    font-size: 10px
    font-weight: 400
    text-transform: uppercase
    background-color: #c5e71b
    position: relative
    padding: 0 13px
    &::before
        content: ''
        position: absolute
        border: 10px solid transparent
        border-left: 4px solid #eeeeee
        left: 0
    &::after
        content: ''
        position: absolute
        border: 10px solid transparent
        border-right: 4px solid #eeeeee
        right: 0
// конец блок новостей

// футер
// контакты
.contacts
    width: 30%
    display: flex
    flex-direction: column
    margin-right: 10px
    @media screen and (max-width: 1050px)
        width: 44%
    @media screen and (max-width: 640px)
        margin-bottom: 10px

.social-icons
    display: flex
    &__link
        color: #893b67
        font-family: "Font Awesome"
        font-size: 18px
        font-weight: 400
        margin: 0 10px
        cursor: pointer
.footer-phone
    margin-top: 41px
    @media screen and (max-width: 768px)
        margin: 10px 0

    &__link
        color: #424242
        font-family: "Vida 33 Pro"
        font-size: 24px
        @media screen and (max-width: 900px)
            font-size: 20px
        @media screen and (max-width: 768px)
            font-size: 24px
.location
    margin-top: 5px
    color: #424242
    font-family: "Vida 31 Pro"
    font-size: 14px
    @media screen and (max-width: 640px)
        margin-bottom: 10px
.mail
    a
        color: #893b67
        font-family: "Vida 31 Pro"
        font-size: 14px
        line-height: 18px
// конец контакты
// меню футера
.footer
    display: flex
    max-width: 1440px
    margin: 0 auto
    padding: 44px 140px
    @media screen and (max-width: 1050px)
        padding: 44px 100px
    @media screen and (max-width: 768px)
        flex-wrap: nowrap
        padding: 44px 15px
    @media screen and (max-width: 640px)
        width: 100%
        flex-wrap: wrap
    &-menu
        display: flex
        justify-content: space-between
        width: 70%
        @media screen and (max-width: 1050px)
            flex-wrap: wrap
        @media screen and (max-width: 640px)
            width: 100%
            flex-direction: column
        &-wrapper
            width: 200px
            @media screen and (max-width: 1050px)
                width: 50%
                display: flex
                flex-direction: column
                justify-content: flex-start
                align-items: center
                margin-bottom: 47px
            @media screen and (max-width: 640px)
                width: 100%
                margin-bottom: 0
        &__title
            color: #000000
            font-family: "Vida 33 Pro"
            font-size: 14px
            font-weight: 400
            line-height: 24px
            @media screen and (max-width: 640px)
                width: 100%
                border-bottom: 1px solid rgba(145, 145, 145, 0.1)
            &::after
                @media screen and (max-width: 640px)
                    content: '\f106'
                    position: absolute
                    font-family: 'FontAwesome'
                    font-size: 25px
                    color: #000000
                    right: 0
                    transform: rotateX(180deg)
                    transition: 0.5s

        &-list
            font-family: "Vida 31 Pro"
            font-size: 14px
            font-weight: 400
            line-height: 24px
            @media screen and (max-width: 640px)
                width: 100%
            &__item
                width: 100%
                &-link
                    color: #893b67
.last-list
    margin-top: 24px
    @media screen and (max-width: 640px)
        display: none
.footer-menu.ui.styled.accordion .title
    padding: 0
    @media screen and (max-width: 640px)
        padding: 7px 0
        width: 100%
        border-bottom: 1px solid rgba(145, 145, 145, 0.1)
// конец меню футера

//slick slider
/* Icons
@font-face
  font-family: 'slick'
  font-weight: normal
  font-style: normal
  src: url('../font/slick.eot')
  src: url('../font/slick.eot?#iefix') format("embedded-opentype"), url('./font/slick.woff') format("woff"), url('../font/slick.ttf') format("truetype"), url('../font/slick.svg#slick') format("svg")

/* Dots
.slick-dotted.slick-slider
  margin-bottom: 20px

.slick-dots
  position: absolute
  bottom: -50px
  display: block
  width: 100%
  padding: 0
  margin: 0
  list-style: none
  text-align: center
  li
    position: relative
    display: inline-block
    width: 20px
    height: 20px
    margin: 0 5px
    padding: 0
    cursor: pointer
    button
      font-size: 20px
      line-height: 0
      display: block
      width: 20px
      height: 20px
      padding: 5px
      cursor: pointer
      color: transparent
      border: 0
      outline: none
      background: transparent
      &:hover, &:focus
        outline: none
      &:hover:before, &:focus:before
        opacity: 1
        background: transparent
      &:before
        font-family: 'slick'
        font-size: 16px
        line-height: 20px
        position: absolute
        top: 0
        left: 0
        width: 20px
        height: 20px
        content: '•'
        text-align: center
        opacity: .25
        color: black
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
    &.slick-active button:before
      opacity: .75
      color: black   
    